<div id="landing">
  <div class="container">

    <!-- HERO -->
    <div class="hero">
      <div class="hero-copy padding-right-md">
        <img src="@/assets/images/daino.svg" alt="Daino" />
        <p class="lead">Gift xDai instantly to any creator on Twitter and Github.</p>
        <div class="display-flex flex-direction-row">
          <a href="/login" class="background-color-red-fg color-white border-radius-low padding-md margin-bottom-md margin-right-md">Log in to account</a>
          <a href="/signup" class="background-color-green-mg color-white border-radius-low padding-md margin-bottom-md">Sign up now</a>
        </div>
      </div>
      <div class="hero-img padding-left-md">
        <img src="@/assets/images/shannon.svg" alt="" />
      </div>
    </div>

    <div class="how-it-works">
      <h2>How it works</h2>
      <ul>
        <li>
          <div>
            <img src="@/assets/images/how-download.png" alt="Install the Chrome Extension" />
            <h3>Install the Chrome Extension</h3>
            <p>Download and install the DAIno chrome extension.</p>
          </div>
        </li>
        <li>
          <div>
            <img src="@/assets/images/how-twitter.png" alt="Visit Twitter or Github" />
            <h3>Visit Twitter or Github</h3>
            <p>Browse your timeline or explore repo’s as you normally would.</p>
          </div>
        </li>
        <li>
          <div>
            <img src="@/assets/images/how-gift-away.png" alt="Gift Away!" />
            <h3>Gift Away!</h3>
            <p>Gift xDAI instantly to any creator. To notify them we’ll send a tweet or tag them in a repo. Cha-Ching!</p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>


