<div id="app" class="font-family-sans-serif padding-0 margin-0 height-100">
  <!-- Move to navbar component during development -->
  <div class="position-fixed padding-xl">
    <!-- <router-link class="color-dark" to="/">{{ 'HOME' | translate }}</router-link> |
    <router-link class="color-dark" to="/login">{{ 'LOGIN_TO_ACCOUNT' | translate }}</router-link>
    <router-link class="color-dark" to="/signup">{{ 'SIGN_UP_NOW' | translate }}</router-link> -->
    <!-- <button style="top: 3rem; right: 3rem;" @click="logout">Logout</button> -->
  </div>
  <main class="height-100">
    <slot></slot>
  </main>
</div>
