<div class="your-daino padding-lg width-100 display-flex flex-direction-column align-items-center">
  <span class="padding-md" v-if="profileMode">Balance: <strong>{{ balance }}</strong></span>
  <span class="padding-md" v-else>This is your personal DAIno page:</span>
  <a href="" target="_blank"></a>
  <VueQRCode :text="address" :size="200" color="#D04780" />
  <button v-clipboard="address" @click="updateCopyButtonText" class="background-color-red-fg color-white border-radius-low padding-md margin-md margin-bottom-md">{{ copyButtonText }}</button>
</div>
